@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --Title-font: "Inter";
    --Text-font: "Open Sans";
    --Numbers-color: #FAAD13;
    --title-color:#183B56;
    --Text-color: #5A7184;
    --color-track: #F9FBFE;
    --color-header: rgba(250, 173, 19, 0.1);
    --links-color: #183B56;
}

a{
    text-decoration: none;
    color: var(--links-color);
}

li{
    list-style: none;
    cursor: pointer;
}

body{
    width: 20rem;
    height: 100vh;
}

#background-start{
    width: 20rem;
    height: 36.125rem;
    background-color: var(--color-header);
    position: absolute;
    z-index: -2;
    margin: 0 auto;
    top: 0;
    left: 0;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
    gap: 10.688rem;
    margin: 1.125rem 1.5rem 3rem 1.125rem;
}

#menu-desktop{
    display: none;
}

#hero{
    width: 20rem;
    text-align: center;
}

#hero-title h1{
    font-family: var(--Title-font);
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: 0.013rem;
    color: var(--title-color);
    margin-bottom: 1.5rem;
}

#hero-subtitle p{
    width: 17.5rem;
    font-family: var(--Text-font);
    color: var(--Text-color);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75rem;
    letter-spacing: 0;
    margin: 0 1.25rem 2.5rem 1.25rem;
}

#hero-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5rem;
    height: 3rem;
    background-color: #183B56;
    border-radius: 0.5rem;
    margin: 0 3.75rem;
}

#hero-button a{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
}

#Dashboard img{
    margin-top: 3rem;
    margin-bottom: 4rem;
}

#partners{
    width: 18.471rem;
    height: 11.344rem;
    margin-left: 0.75rem;
}

#all-partners{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.partners-image{
    width: 42%;
    flex-grow: 0;
}

#Uber{
    margin-left: 4.063rem;
}

.line-divider{
    width: 17.5rem;
    height: 0.063rem;
    border-radius: 0.063rem;
    background-color: #E3E7ED;
    margin-left: 1.25rem;
    margin-bottom: 4.031rem;
}

#main-content{
    width: 18.6rem;
    text-align: center;
}

#impressions-title h2{
    width: 17.5rem;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.25rem;
    letter-spacing: 0.013rem;
    color: var(--title-color);
    font-family: var(--Title-font);
    margin: auto 1.375rem;
}

#impressions-subtitle p{
    width: 17.5rem;
    font-family: var(--Text-font);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75rem;
    letter-spacing: 0;
    color: var(--Text-color);
    margin: 1.25rem 0 2rem 1.375rem;
}

#impressions-button{
    width: 7.313rem;
    margin: 0 0 2.25rem 6.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

#impressions-button a{
    font-weight: 700;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: 0;
    font-family: var(--Text-font);
    color: #1565D8;
}

#impressions-button img{
    width: 0.688rem;
    height: 0.875rem;
}

#impressions-graph img{
    width: 17.724rem;
    margin-left: 2.188rem;
    margin-bottom: 4.533rem;
}

#schedule-title h2{
    width: 17.5rem;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: 0.013rem;
    color: var(--title-color);
    font-family: var(--Title-font);
    margin: auto 1.375rem;
}

#schedule-subtitle p{
    width: 17.5rem;
    font-family: var(--Text-font);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75rem;
    letter-spacing: 0;
    color: var(--Text-color);
    margin: 1.25rem 0 2rem 1.375rem;
}

#schedule-graph img{
    width: 17.5rem;
    height: 12.108rem;
    margin-left: 1.313rem;
}

#line-divider-schedule{
    width: 17.5rem;
    border-top: 1px dashed #9DAAB6;
    margin-left: 1.313rem;
    margin-bottom: 1.688rem;
}

#schedule-help{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1.563rem;
}

#schedule-help

#schedule-help h3{
    width: 15rem;
    font-family: var(--Text-font);
    color: var(--Text-color);
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0;
    text-align: start;
    margin-left: 0.688rem;
}

.track-card img{
    width: 14.156rem;
}

#sign-box img{
    width: 14.156rem;
}