@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-footer: #444;
    --background-footer-light: #d9d9d9;
    --background: #333;
    --background-light: #f0f0fa;
    --btn-font-size: 12px;
    --add-color: #00a043;
    --clear-color: #d20000;
    --text-color-light: #f0f0fa;
    --text-color-dark: #0e0e0f;
    --text-font-size: 16px;
    --title-font-size: 24px;
}

body {
    background-color: var(--background);
    color: var(--text-color-light);
}

body.light-mode {
    background-color: var(--background-light);
    color: var(--text-color-dark);
}

.container {
    width: 90%;
    margin: 0 auto;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #cbe7dc;
    border-radius: 0 0 30px 30px;
    color: #23473b;
    margin-bottom: 3rem;
}

#header.light-mode {
    text-align: center;
    background-color: #39413e;
    border-radius: 0 0 30px 30px;
    color: aquamarine;
}

.logo {
    font-family: "Roboto Slab", serif;
    font-size: 30px;
    letter-spacing: 2px;
    padding: 5rem auto;
    font-style: italic;
    margin-left: 46%;
}

#btn {
    margin-right: 1rem;
}

#thema-btn {
    background-color: #f0f0fa;
    border: 0.5px #9c9c9c solid;
    border-radius: 100px;
    padding: 10px;
}

#thema-btn.light-mode {
    background-color: #0e0e0f;
    border: 0.5px #9c9c9c solid;
    border-radius: 100px;
    padding: 10px;
}

main {
    gap: 10rem;
}

#display-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 2rem;
}

h2 {
    font-family: "Roboto Slab", serif;
    color: var(--text-color);
    font-size: var(--title-font-size);
    font-weight: 400;
}

#name h2 {
    color: cadetblue;
}

#line-divider {
    width: 100%;
    border: 0.5px #f0f0fa76 solid;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.line-divider-table {
    width: 100%;
    border: 1px #f0f0fa76 solid;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#line-divider.light-mode {
    width: 100%;
    border: 0.5px #30303276 solid;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#list {
    width: 40%;
    margin: 0 auto;
    flex-wrap: wrap;
}

#users-list {
    background-color: #9bc0c0;
    border: 4px #f1f1f1 solid;
    color: #333;
    text-align: center;
    padding: 0.5rem;
    border-radius: 12px;
    flex-wrap: wrap;
}

#users-list.light-mode {
    background-color: #9bc0c0;
    border: 4px #161616 solid;
    color: #333;
    text-align: center;
    padding: 0.5rem;
    border-radius: 12px;
    flex-wrap: wrap;
}

#btns {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: 3rem;
}

#add-user {
    text-align: center;
    border-radius: 8px;
}

#user {
    width: 30%;
    border: 1px #161616 solid;
    border-radius: 8px;
    padding: 0.75rem;
    margin-bottom: 0.75rem;
}

#user.light-mode {
    width: 30%;
    border: 1px #f1f1f1 solid;
    border-radius: 8px;
    padding: 0.75rem;
    margin-bottom: 0.75rem;
}

.btn {
    border-radius: 8px;
    padding: 0.75rem;
}

#add {
    background-color: var(--add-color);
    box-shadow: 3px 3px 5px #dbdbdb47;
    border: 0.5px #9c9c9c solid;
}

#clear {
    background-color: var(--clear-color);
    box-shadow: 3px 3px 5px #dbdbdb47;
    border: 0.5px #9c9c9c solid;
}

footer {
    width: 100%;
    background-color: var(--background-footer);
    text-align: center;
    border-radius: 30px 30px 0 0;
    padding: 2rem;
    margin-top: 5rem;
    position: fixed;
    left: 0;
    bottom: 0;
}

footer h3 {
    margin-bottom: 1rem;
}

footer.light-mode {
    background-color: var(--background-footer-light);
    text-align: center;
    border-radius: 30px 30px 0 0;
    padding: 2rem;
    margin-top: 5rem;
}